@import '../../../../styles/mixin';

.quick-actions {
  width: 100%;

  &__search-input {
    display: flex;
    width: 100%;
  }

  &__search-bar {
    display: flex;

    mat-form-field {
      flex: 1;
    }
  }

  &__search-button {
    margin: 0 5px;
  }

  &__filters {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

@include md() {
  .quick-actions {
    &__search-bar {
      flex-direction: column;
    }

    &__filters {
      padding-top: 0;
      justify-content: space-evenly;
      align-items: center;
    }

    &__buttons {
      flex-direction: column;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
