<section class="dashboard">
  <app-search [filters]="{ 'measurements': true, 'projects': true, 'recipes': true }"></app-search>
  <section class="dashboard__cards">
    <mat-card class="recent-measurements">
      <mat-card-header>
        <div class="recent-measurements__header mat-h1">
          <mat-icon [inline]="true" fontIcon="history"></mat-icon>
          <h2>Recent measurements</h2>
        </div>
      </mat-card-header>
      <div *ngIf="recentMeasurement$ | async as recentMeasurements; else loading" class="recent-measurements__list">
        <mat-table class="recent-measurements__list-content mat-elevation-z8" [dataSource]="recentMeasurements">
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="project">
            <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.project}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.createdAtUtc | timeAgo}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="recent-measurements__list-header"></mat-header-row>
          <mat-row
            mat-ripple
            *matRowDef="let row; columns: displayedColumns;"
            (click)="selectMeasurement(row);"
            [class.recent-measurements__row--is-clicked]="row.id === selectedMeasurementId"></mat-row>
        </mat-table>
      </div>
    </mat-card>
    <app-item-details class="measurement-details" [itemId]="selectedMeasurementId" [itemType]="'Measurement'"></app-item-details>
  </section>
</section>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
