<app-base-page title="Dashboard">
  <app-base-page-header>
    <div class="recent-samples__header">
      <mat-icon [inline]="true" fontIcon="history"></mat-icon>
      <h2>Recent samples</h2>
    </div>
  </app-base-page-header>

  <app-base-page-content>
    @if (!areThereAnyRecentSamples()) {
      <p class="hint">
        <mat-icon [inline]="true" fontIcon="info"></mat-icon>
        Here will be displayed the latest samples, for now there are none, add a new sample to see it here.
      </p>
      <button mat-button color="primary">Add sample</button>
    } @else {
      <div class="dashboard__cards">
        <section class="recent-samples__table">
          <mat-table [dataSource]="recentSamples()">
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
              <mat-cell *matCellDef="let sample">{{ sample.code }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="project">
              <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
              <mat-cell *matCellDef="let sample">{{ sample.project }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
              <mat-cell *matCellDef="let sample">{{ sample.createdAtUtc | timeAgo }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
              mat-ripple
              *matRowDef="let sample; columns: displayedColumns;"
              (click)="selectedSample$.next(sample)"
              [class.recent-samples__row--is-clicked]="false"></mat-row>
          </mat-table>
        </section>
        @if (this.selectedSample$ | async) {
          <app-sample-details [sample]="sampleDetails$"></app-sample-details>
        } @else {
          <app-hint>
            Select a sample to see it's details.
          </app-hint>
        }
      </div>
    }
  </app-base-page-content>

  <app-base-page-footer>
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </app-base-page-footer>
</app-base-page>
