@use "../../../../src/styles/mixins/rwd.scss" as rwd;

.dashboard {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include rwd.breakpoint(mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.recent-samples {
  &__header {
    display: flex;
    align-items: center;
    vertical-align: text-top;
    font-size: large;

    mat-icon {
      margin-right: 10px;
    }
  }

  &__table {
    mat-table {
      @include rwd.breakpoint(mobile) {
        height: calc(100vh - 305px);
        overflow: scroll;
      }
    }
  }
}
