<div class="add-project-dialog">
  <h1 class="add-project-dialog__title" mat-dialog-title>Add new project</h1>
  <div class="add-project-dialog__hint">Project name must be between {{min}} and {{max}} characters long</div>
  <mat-form-field class="add-project-dialog__form">
    <mat-label>New project name</mat-label>
    <input [(ngModel)]="newProjectName" [errorStateMatcher]="matcher" [formControl]="newProjectNameControl" matInput
           type="text">
    <mat-error *ngIf="!newProjectNameControl.hasError('whitespace') && newProjectNameControl.hasError('required')">
      Project name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="!newProjectNameControl.hasError('whitespace') && newProjectNameControl.hasError('maxlength')">
      Project name is too <strong>long</strong>
    </mat-error>
    <mat-error *ngIf="!newProjectNameControl.hasError('whitespace') && newProjectNameControl.hasError('minlength')">
      Project name is too <strong>short</strong>
    </mat-error>
    <mat-error *ngIf="newProjectNameControl.hasError('whitespace')">
      Please enter <strong>valid</strong> project name
    </mat-error>
    <button (click)="newProjectName=''" *ngIf="newProjectName" aria-label="Clear" mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button (click)="addProject()" [disabled]="newProjectNameControl.invalid" [mat-dialog-close]="true" color="primary"
            mat-raised-button>Add
    </button>
  </div>
</div>
