<ng-container *ngIf="projectDetails$ | async; let details">
  <mat-card-header>
    <mat-card-title class="project-edit__header">Edit Project {{ details.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="project-edit">
    <mat-slide-toggle [formControl]="isActiveToggleButton" class="project-edit__form-fields first-field" color="primary">
      <mat-label class="toggle-button-label">{{isActiveToggleButton.value ? 'Project active' : 'Project hidden'}}</mat-label>
    </mat-slide-toggle>

    <mat-form-field class="project-edit__form-fields">

      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="projectNameFormControl" name="projectName">

      <mat-error *ngIf="!projectNameFormControl.hasError('whitespace') && projectNameFormControl.hasError('required')">
        Project name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!projectNameFormControl.hasError('whitespace') && projectNameFormControl.hasError('maxlength')">
        Project name is too <strong>long</strong>
      </mat-error>
      <mat-error *ngIf="!projectNameFormControl.hasError('whitespace') && projectNameFormControl.hasError('minlength')">
        Project name is too <strong>short</strong>
      </mat-error>
      <mat-error *ngIf="projectNameFormControl.hasError('whitespace')">
        Please enter <strong>valid</strong> project name
      </mat-error>

    </mat-form-field>

    <mat-card-actions class="project-edit__form-buttons">
      <section matTooltip="No changes apllied" [matTooltipDisabled]="dirtyForm()">
        <button mat-raised-button color="primary"
                (click)="resetForm()"
                [disabled]="!dirtyForm()">
          Reset
        </button>
      </section>
      <section matTooltip="No changes apllied or invalid values are set" [matTooltipDisabled]="readyToSubmit()">
        <button mat-raised-button color="primary"
                (click)="editProject()"
                [disabled]="!readyToSubmit()">
          Submit changes
        </button>
      </section>
      <section>
        <button mat-raised-button color="warn"
                (click)="deleteProject()">
          Delete
        </button>
      </section>
    </mat-card-actions>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions class="footer-buttons">
    <button mat-button color="primary" [routerLink]="['/projects', projectId]">
      <mat-icon>arrow_forward</mat-icon>
      Show details
    </button>
  </mat-card-actions>

</ng-container>

<mat-card-footer>
  <mat-progress-bar [mode]="loading"></mat-progress-bar>
</mat-card-footer>
