<mat-sidenav-container autosize>
  <mat-sidenav #sidenav *ngIf="!(isUserLoggedOut$ | async)"
               [mode]="isMobile ? 'over' : 'side'"
               [opened]="!(isMobile$ | async)"
  >
    <mat-nav-list *ngIf="(isExpanded$ | async)">
      <mat-list-item (click)="expandWhenDesktop(); closeWhenClicked();">
        <mat-icon matListItemIcon>menu</mat-icon>
      </mat-list-item>

      <mat-list-item [matMenuTriggerFor]="addMenu">
        <mat-icon matListItemIcon>add</mat-icon>
        <span *ngIf="isExpanded">Add</span>
      </mat-list-item>
      <mat-menu #addMenu>
        <button routerLink="add-sample" (click)="closeWhenClicked()" mat-menu-item>
          <mat-icon>add</mat-icon>
          Add sample
        </button>
        <button mat-menu-item (click)="closeWhenClicked()">
          <mat-icon>assignment_add</mat-icon>
          Add recipe
        </button>
        <button mat-menu-item (click)="closeWhenClicked(); openAddProjectDialog()">
          <mat-icon>create_new_folder</mat-icon>
          Add project
        </button>
      </mat-menu>

      <mat-list-item routerLink="home" (click)="closeWhenClicked()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>

      <mat-list-item routerLink="samples" (click)="closeWhenClicked()">
        <mat-icon matListItemIcon>science</mat-icon>
        <span *ngIf="isExpanded">Samples</span>
      </mat-list-item>

      <mat-list-item routerLink="recipes" (click)="closeWhenClicked()">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span *ngIf="isExpanded">Recipes</span>
      </mat-list-item>

      <mat-list-item routerLink="projects" (click)="closeWhenClicked()">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span *ngIf="isExpanded">Projects</span>
      </mat-list-item>

      <mat-list-item routerLink="settings" (click)="closeWhenClicked()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span *ngIf="isExpanded">Settings</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <div class="grid-container">
    <header>
      <app-statusbar (toggleMobileMenu)="toggleWhenMobile()"></app-statusbar>  
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-sidenav-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
