<mat-sidenav-container autosize>
  <mat-sidenav [mode]="sideNavMode" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListItemIcon (click)="isExpanded = !isExpanded">menu</mat-icon>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>add</mat-icon>
        <span *ngIf="isExpanded">Add</span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="grid-container">
    <header>
      <mat-toolbar class="toolbar" color="primary">
        <ng-container *ngIf="sideNavMode === 'over'">
            <mat-icon>menu</mat-icon>
        </ng-container>
        <span>Welcome, {{user}}</span>
      </mat-toolbar>
    </header>
    <main>
      <app-quick-actions></app-quick-actions>
      <app-dashboard></app-dashboard>
    </main>
  </div>
</mat-sidenav-container>



