mat-sidenav-container {
  height: 100%;

  mat-list-item {
    padding: 0;

    mat-icon {
      margin: 0 20px;
    }

    span {
      padding-right: 20px;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr 15%;
  grid-row-gap: 2%;
  height: 100vh;
}

main {
  padding: 0 2%;
}
