@import '../../../../styles/mixin';

.toolbar {
  &__spacer {
    flex: 1 1 auto;
  }

  &__logout {
    margin-left: 1rem;
    width: 6pc;
  }

  &__menu_mobile{
    display: none;
    @include md() {
      display: block;
      margin-right: 1rem;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  :hover {
    cursor: pointer;
  }

  &__title {
    margin-left: 10px;
    font-size: xx-large;
  }
}

// hide header on mobile
@include md() {
  .header {
    &__title {
      display: none;
    }
  }
}
