<h1 mat-dialog-title>Set new password for user {{data.email}}</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="userPasswordFormControl" name="userPassword">
    <mat-error *ngIf="userPasswordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="!userPasswordFormControl.hasError('minLength')">
      Please provide at least <strong>8</strong> characters
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input matInput type="password" [formControl]="secondPassword" [errorStateMatcher]="matcher">
    <mat-error *ngIf="secondPassword.hasError('notSame')">
      Passwords <strong>do not match</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button  mat-raised-button color="primary"
           [mat-dialog-close]="{confirmed: false, password: ''}"
           cdkFocusInitial>
    Cancel</button>
  <button mat-raised-button color="primary"
          [disabled]="form.invalid"
          [mat-dialog-close]="{confirmed: true, password: userPasswordFormControl.value}">
    Submit
  </button>
</mat-dialog-actions>
