<section class="quick-actions">
  <div class="quick-actions__search-bar">
    <div class="quick-actions__search-input">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchControl"/>
        <button *ngIf="searchControl" matSuffix mat-icon-button aria-label="Clear"
                (click)="$event.preventDefault(); clearSearchControl()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-fab class="quick-actions__search-button" (click)="$event.preventDefault(); goToSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="quick-actions__filters" [formGroup]="searchFilters">
      <mat-checkbox formControlName="projects">Projects</mat-checkbox>
      <mat-checkbox formControlName="measurements">Measurements</mat-checkbox>
      <mat-checkbox formControlName="recipes">Recipes</mat-checkbox>
    </div>
  </div>
  <div class="quick-actions__buttons">
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add measurement
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>assignment_add</mat-icon>
      Add recipe
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>create_new_folder</mat-icon>
      Add project
    </button>
  </div>
</section>
