.add-user-dialog {
    padding: 1em;
  
    &__title {
      padding: 0;
    }
  
    &__hint {
      margin-bottom: 10px;
    }
  
    &__form {
      min-width: 200px;
      margin-bottom: 1em;
      width: 100%;
    }
  }
  