<mat-card>
  <mat-card-header>
    <h2>Steps</h2>
  </mat-card-header>
  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = $event">
    <mat-tab class="step" *ngFor="let stepControls of stepsControls.controls; index as i" [label]="'Step #' + (i + 1)">
      <div class="step__form">
        <ng-container *ngFor="let parameterControl of getRootControls(stepControls.controls.parameters)">
          <ng-container [ngSwitch]="parameterControl.item.$type">
            <mat-form-field *ngSwitchCase="'text'">
              <mat-label>{{parameterControl.item.name}}</mat-label>
              <mat-select [formControl]="parameterControl">
                <mat-option *ngFor="let option of getOptions(parameterControl.item)" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchDefault>
              <mat-label>{{parameterControl.item.name}}</mat-label>
              <input matInput [formControl]="parameterControl"
                     [type]="'number'"
                     [step]="getStep(parameterControl.item)" min="0">
              <p matTextSuffix *ngIf="getUnit(parameterControl.item) as unit">{{unit}}</p>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="getControlChild(parameterControl, i) as childControl">
            <mat-form-field *ngIf="parameterControl.valid &&
                   parameterControl.value !== setupFormService.getDefaultValue(parameterControl.item)">
              <mat-label>{{childControl.item.name}}</mat-label>
              <input matInput [formControl]="childControl"
                     [type]="childControl.item.$type === 'text' ? 'text' : 'number'"
                     [step]="getStep(childControl.item)" min="0">
              <p matTextSuffix *ngIf="getUnit(childControl.item) as unit">{{unit}}</p>
            </mat-form-field>
          </ng-container>
        </ng-container>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput [formControl]="stepControls.controls.comment"></textarea>
        </mat-form-field>
      </div>
      <mat-card-footer>
        <mat-card-actions class="step__actions">
          <button mat-raised-button color="primary" (click)="addTab(i)" [disabled]="!stepsControls.controls[i].valid">Add step</button>
          <button mat-raised-button color="primary" (click)="removeTab(i)" [disabled]="stepsControls.length === 1">Delete step</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-tab>
  </mat-tab-group>
</mat-card>
