@use 'sass:map';
@use '../../../../../node_modules/@angular/material/index' as mat;

@import '../../../../styles/mixin';

.search {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
}

.row:hover {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 700);
  cursor: pointer;
}

.result-list {
  display: flex;
  flex-direction: column;
  max-height: 700px;

  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    h2 {
      margin: 0 0 0 5px;
      font-size: xx-large;
    }
  }

  &__content {
    overflow-y: auto;
  }

  &__footer {
    flex-shrink: 0;
  }
}

@include md() {
  .search {
    &__cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .item-details {
    display: none;
  }
}


