:host {
  button {
    margin: 10px 0;
    text-align: center;
  }
}

.navigation-rail-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --mat-text-button-icon-spacing: 0;
  --mat-text-button-icon-offset: 0;
}
