<ng-container *ngIf="projectDetails$ | async; let details">
  <mat-card-content class="project-details">
    <h2 class="project-details__header">Project {{ details.name }}</h2>
    <p class="project-details__label">{{ numberOfSamples }} samples</p>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button color="primary" [routerLink]="['/add-sample']" [queryParams]="{ projectId: projectId }">
      <mat-icon>add</mat-icon>
      Add sample
    </button>
  </mat-card-actions>

</ng-container>
<mat-card-footer>
  <mat-progress-bar [mode]="loading"></mat-progress-bar>
</mat-card-footer>
