<cdk-virtual-scroll-viewport itemSize="50" class="items-viewport">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumnChanged($event)">
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let project"> {{project.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;" (click)="selectProject(row);"
             [class.recent-samples__row--is-clicked]="row.id === selectedItem?.id"></mat-row>
  </mat-table>
</cdk-virtual-scroll-viewport>
<mat-paginator
  [length]="(length$ | async)!"
  [pageSize]="queryPageSize"
  [pageSizeOptions]="[10, 25, 50]"
  (page)="pageSelected($event)"
  [showFirstLastButtons]="true">
</mat-paginator>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
