<mat-card class="add-sample">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>science</mat-icon>
      Add sample
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="add-sample__main" [formGroup]="sampleForm" *ngIf="formData$ | async as formData else loading;">
      <mat-card>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <mtx-datetimepicker #datetimepicker timeInput="true" touchUi="true" type="datetime"></mtx-datetimepicker>
          <input [formControl]="sampleForm.controls.date" [mtxDatetimepicker]="datetimepicker" matInput required>
          <mtx-datetimepicker-toggle [for]="datetimepicker" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Project</mat-label>
          <input [formControl]="sampleForm.controls.project" [matAutocomplete]="projectAutocomplete"
                 matInput placeholder="Choose project" type="text" required>
          <button matSuffix mat-icon-button *ngIf="sampleForm.controls.project.value" (click)="sampleForm.controls.project.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #projectAutocomplete (optionSelected)="sampleForm.controls.project.setItem($event.option.value, $event.option.value.name)">
            <mat-option *ngFor="let project of formData.projects"
                        [value]="project">
              {{project.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Recipes</mat-label>
          <input type="text"
                 placeholder="Start typing to find recipe"
                 aria-label="Recipe"
                 matInput
                 [formControl]="sampleForm.controls.recipe"
                 [matAutocomplete]="recipeAutocomplete">
          <button matSuffix mat-icon-button *ngIf="sampleForm.controls.recipe.value" (click)="sampleForm.controls.recipe.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #recipeAutocomplete (optionSelected)="onRecipeSelect($event)">
            <ng-container *ngIf="formData.recipes as recipes">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let recipe of recipes"
                          [value]="recipe">
                {{recipe.name}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <app-tag-selector [formControl]="sampleForm.controls.tags"></app-tag-selector>

        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput [formControl]="sampleForm.controls.comment"></textarea>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <h2>Steps</h2>
        </mat-card-header>
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = $event">
          <mat-tab class="step" *ngFor="let stepControls of sampleForm.controls.steps.controls; index as i" [label]="'Step #' + (i + 1)">
            <div class="add-sample__form">
            <ng-container *ngFor="let parameterControl of stepControls.controls.parameters.controls">
              <ng-container [ngSwitch]="parameterControl.item.$type">
                <mat-form-field *ngSwitchCase="'text'">
                  <mat-label>{{parameterControl.item.name}}</mat-label>
                  <mat-select [formControl]="parameterControl">
                    <mat-option *ngFor="let option of getOptions(parameterControl.item)" [value]="option">{{option}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchDefault>
                  <mat-label>{{parameterControl.item.name}}</mat-label>
                  <input matInput [formControl]="parameterControl"
                         [type]="'number'"
                         [step]="getStep(parameterControl.item)" min="0">
                  <p matTextSuffix *ngIf="getUnit(parameterControl.item) as unit">{{unit}}</p>
                </mat-form-field>
              </ng-container>
            </ng-container>
            <mat-form-field>
              <mat-label>Comment</mat-label>
              <textarea matInput [formControl]="stepControls.controls.comment"></textarea>
            </mat-form-field>
            </div>
            <mat-card-footer>
              <mat-card-actions class="step__actions">
                <button mat-raised-button color="primary" (click)="addTab(i)" [disabled]="!sampleForm.controls.steps.controls[i].valid">Add step</button>
                <button mat-raised-button color="primary" (click)="removeTab(i)" [disabled]="sampleForm.controls.steps.length === 1">Delete step</button>
              </mat-card-actions>
            </mat-card-footer>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button [disabled]="sampleForm.invalid" (click)="addSample()">
        <mat-icon>add</mat-icon>
        Add sample
      </button>
      <mat-checkbox #recipeCheckbox [formControl]="saveRecipeFormGroup.controls.saveAsRecipe">Save as recipe</mat-checkbox>
      <ng-container *ngIf="recipeCheckbox.checked">
        <mat-form-field>
          <mat-label>Recipe name:</mat-label>
          <input [formControl]="saveRecipeFormGroup.controls.recipeName" matInput type="text">
        </mat-form-field>
      </ng-container>
    </mat-card-actions>
  </mat-card-footer>
  <pre *ngIf="!environment.production" [innerHTML]="sampleForm.value | prettyjson"></pre>
</mat-card>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
