@import '../../../styles/mixin';

.settings {
  display: flex;
  flex-direction: column;

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @include md() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__views {
      width: 50vw;
      @include md() {
        width: 95vw;
      }
    }
  }
}

h2 {
  margin-bottom: 10px;
  font-size: xx-large;
}

mat-card-header {
  margin-bottom: 5px;
}

.tab-icon {
  margin-right: 8px;
}


