<ng-container *ngIf="tagDetails$ | async; let details">
  <mat-card-header>
    <mat-card-title class="tag-edit__header">Tag {{ details.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="tag-edit">

    <mat-slide-toggle [formControl]="isActiveToggleButton" class="tag-edit__form-fields first-field" color="primary">
      <mat-label class="toggle-button-label">{{isActiveToggleButton.value ? 'Tag active' : 'Tag hidden'}}</mat-label>
    </mat-slide-toggle>

    <mat-form-field class="tag-edit__form-fields">

      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="tagNameFormControl" name="projectName">

      <mat-error *ngIf="!tagNameFormControl.hasError('whitespace') && tagNameFormControl.hasError('required')">
        Tag name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!tagNameFormControl.hasError('whitespace') && tagNameFormControl.hasError('maxlength')">
        Tag name is too <strong>long</strong>
      </mat-error>
      <mat-error *ngIf="!tagNameFormControl.hasError('whitespace') && tagNameFormControl.hasError('minlength')">
        Tag name is too <strong>short</strong>
      </mat-error>
      <mat-error *ngIf="tagNameFormControl.hasError('whitespace')">
        Please enter <strong>valid</strong> tag name
      </mat-error>

    </mat-form-field>

    <mat-card-actions class="tag-edit__form-buttons">
      <section matTooltip="No changes apllied" [matTooltipDisabled]="dirtyForm()">
        <button mat-raised-button color="primary"
                (click)="resetForm()"
                [disabled]="!dirtyForm()">
          Reset
        </button>
      </section>
      <section matTooltip="No changes apllied or invalid values are set" [matTooltipDisabled]="readyToSubmit()">
        <button mat-raised-button color="primary"
                (click)="editTag()"
                [disabled]="!readyToSubmit()">
          Submit changes
        </button>
      </section>
      <section>
        <button mat-raised-button color="warn"
                (click)="deleteTag()">
          Delete
        </button>
      </section>
    </mat-card-actions>

  </mat-card-content>

</ng-container>

<mat-card-footer>
  <mat-progress-bar [mode]="loading"></mat-progress-bar>
</mat-card-footer>
