<div *ngIf="measurements$ | async as measurements else loading" class="recent-measurements__list">
    <mat-table class="recent-measurements__list-content mat-elevation-z8" [dataSource]="measurements">
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.code}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="project">
            <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.project}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
            <mat-cell *matCellDef="let measurement"> {{measurement.createdAtUtc | timeAgo}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="recent-measurements__list-header"></mat-header-row>
        <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;" (click)="selectMeasurement(row);"
            [class.recent-measurements__row--is-clicked]="row.id === selectedItemId"></mat-row>
    </mat-table>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>