@if (isLoading()) {
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <app-terminal-icon></app-terminal-icon>
  <section class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" autocomplete="username" required>
        @if (loginForm.controls.email.invalid) {
          <mat-error>Invalid email!</mat-error>
        }
        <mat-icon matIconSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" autocomplete="current-password" required>
        <mat-icon matIconSuffix>password</mat-icon>
      </mat-form-field>
      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
      <div class="form-buttons">
        <button mat-flat-button type="submit">Login</button>
        <button mat-icon-button type="reset">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-stroked-button type="button">I forgot my password</button>
      </div>
    </form>
  </section>
}
