<mat-card class="add-measurement">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>science</mat-icon>
      Add measurement
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="add-measurement__main">
      <mat-card>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <mtx-datetimepicker #datetimepicker timeInput="true" touchUi="true" type="datetime"></mtx-datetimepicker>
          <input [formControl]="measurementForm.controls.dateTime" [mtxDatetimepicker]="datetimepicker" matInput required>
          <mtx-datetimepicker-toggle [for]="datetimepicker" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Project</mat-label>
          <input #projectInput [formControl]="measurementForm.controls.project" [matAutocomplete]="projectAutocomplete"
                 matInput placeholder="Choose project" type="text" (keyup)="projectInputValue.next(projectInput.value)" required>
          <mat-autocomplete autoActiveFirstOption #projectAutocomplete requireSelection="true" (optionSelected)="selectProject($event)">
            <ng-container *ngIf="projectInput.value.length > 0">
              <mat-option *ngFor="let projectOption of filteredProjects$ | async;" [value]="projectOption">
                {{projectOption.name}}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="projectInput.value === ''">
              <mat-option *ngFor="let projectOption of recentProjects$ | async" [value]="projectOption">
                {{projectOption.name}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Recipe</mat-label>
          <input #recipeInput [formControl]="measurementForm.controls.recipe" [matAutocomplete]="recipeAutocomplete"
                 matInput placeholder="Choose recipe" type="text">
          <mat-autocomplete autoActiveFirstOption #recipeAutocomplete requireSelection="true">
            <mat-option value="None">
              None
            </mat-option>
            <mat-option value="Recipe 1">
              Recipe 1
            </mat-option>
            <mat-option value="Recipe 2">
              Recipe 2
            </mat-option>
            <mat-option value="Recipe 3">
              Recipe 3
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of chosenTags$ | async" [editable]='false' (removed)="removeTag(tag)">
              {{tag}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input #tagInput [matChipInputFor]="chipGrid" matChipInputAddOnBlur="true" [formControl]="measurementForm.controls.tags" [matAutocomplete]="tagAutocomplete">
            <mat-autocomplete #tagAutocomplete (optionSelected)="selectedTag($event)">
              <ng-container *ngIf="tagInput.value.length > 0">
                <mat-option *ngFor="let tag of filteredTags$ | async">
                  {{tag}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="measurementForm.controls.tags.value === ''">
                <mat-option *ngFor="let tag of recentTags$ | async">
                  {{tag}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea [formControl]="measurementForm.controls.comment" matInput></textarea>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <ng-container *ngIf="recipeChosen$ | async; else stepCreator">
            <h2>Recipe chosen!</h2>
          </ng-container>
          <ng-template #stepCreator>
            <h2>Steps</h2>
            <mat-tab-group>
              <mat-tab *ngFor="let _ of tabs; let tabIndex = index" [label]="getLabel(tabIndex)">
                <ng-container *ngIf="getGroupForTab(tabIndex) as stepGroup; else loading">
                  <div class="add-measurement__form">
                    <ng-container *ngFor="let parameterControl of stepGroup | keyvalue">
                      <ng-container [ngSwitch]="getInputTypeOfParameter(parameterControl.key)">
                        <mat-form-field *ngSwitchCase="'text'">
                          <mat-label>{{parameterControl.key}}</mat-label>
                          <mat-select [formControl]="parameterControl.value">
                            <mat-option *ngFor="let option of getAllowedOptions(parameterControl.key)" [value]="option">{{option}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngSwitchCase="'number'">
                          <mat-label>{{parameterControl.key}}</mat-label>
                          <input matInput [type]="getInputTypeOfParameter(parameterControl.key)" [formControl]="parameterControl.value">
                        </mat-form-field>
                        <mat-form-field *ngSwitchCase="'comment'">
                          <mat-label>Comment</mat-label>
                          <textarea matInput [formControl]="parameterControl.value"></textarea>
                        </mat-form-field>
                      </ng-container>
                    </ng-container>
                  </div>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="addStep(tabIndex)" [disabled]="!parameterControls.controls[tabIndex].valid">Add step</button>
                    <button mat-raised-button color="primary" (click)="deleteStep(tabIndex)" [disabled]="tabIndex === 0">Delete step</button>
                  </mat-card-actions>
                </ng-container>
              </mat-tab>
            </mat-tab-group>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!measurementForm.valid" (click)="addMeasurement()">
        <mat-icon>add</mat-icon>
        Add measurement
      </button>
      <mat-checkbox #recipeCheckbox>Save as recipe</mat-checkbox>
      <ng-container *ngIf="recipeCheckbox.checked">
        <mat-form-field>
          <mat-label>Recipe name:</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </ng-container>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
