<section class="dashboard">
  <section class="dashboard__cards">
    <mat-card class="recent-measurements">
      <mat-card-header>
        <div class="recent-measurements__header mat-h1">
          <h2>{{itemType}}s</h2>
        </div>
      </mat-card-header>
      <div [ngSwitch]="itemType">
        <app-measurement-views (selectedItemIdChangeEvent)="selectedItemId = $event"
                               *ngSwitchCase="'Measurement'"></app-measurement-views>
        <app-project-views (selectedItemIdChangeEvent)="selectedItemId = $event"
                           *ngSwitchCase="'Project'"></app-project-views>
      </div>
    </mat-card>
    <app-item-details [itemId]="selectedItemId" [itemType]="itemType"
                      class="measurement-details"></app-item-details>
  </section>
</section>
