<ng-container *ngIf="sampleDetails$ | async; let sampleDetails">
  <mat-card-header>
    <mat-card-title class="sample-edit__header">Sample {{sampleDetails.code}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="sample-edit">

    <mat-form-field class="sample-edit__form-fields first-field" *ngIf="projectDetails$ | async">
      <mat-label>Project</mat-label>
      <mat-select [formControl]="sampleForm.controls.project">
        <mat-option *ngFor="let project of projects$ | async" [value]="project.name">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="sample-edit__form-fields sample-edit__hint_below">
      <mat-label>Recipe</mat-label>
      <input #recipeInput [formControl]="sampleForm.controls.recipe"
             matInput type="text">
    </mat-form-field>

    <mat-form-field class="sample-edit__form-fields">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let tag of chosenTags$ | async" [editable]='false' (removed)="removeTag(tag)">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input #tagInput [matChipInputFor]="chipGrid" matChipInputAddOnBlur="true" [formControl]="sampleForm.controls.tags" [matAutocomplete]="tagAutocomplete">
        <mat-autocomplete #tagAutocomplete (optionSelected)="selectedTag($event)">
          <ng-container *ngIf="tagInput.value.length > 0">
            <mat-option *ngFor="let tag of filteredTags$ | async">
              {{tag}}
            </mat-option>
          </ng-container>
          <ng-container *ngIf="sampleForm.controls.tags.value === ''">
            <mat-option *ngFor="let tag of recentTags$ | async">
              {{tag}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-chip-grid>
    </mat-form-field>

    <mat-form-field class="sample-edit__form-fields">
      <mat-label>Comment</mat-label>
      <textarea [formControl]="sampleForm.controls.comment" matInput></textarea>
    </mat-form-field>

    <mat-card-actions class="sample-edit__form-buttons">
      <section matTooltip="No changes apllied" [matTooltipDisabled]="dirtyForm()">
        <button mat-raised-button color="primary"
                (click)="resetForm()"
                [disabled]="!dirtyForm()">
          Reset
        </button>
      </section>
      <section matTooltip="No changes apllied or invalid values are set" [matTooltipDisabled]="readyToSubmit()">
        <button mat-raised-button color="primary"
                (click)="editSample()"
                [disabled]="!readyToSubmit()">
          Submit changes
        </button>
      </section>
      <section>
        <button mat-raised-button color="warn"
                (click)="deleteSample()">
          Delete
        </button>
      </section>
    </mat-card-actions>

  </mat-card-content>
</ng-container>
