@use '@angular/material' as mat;
@use '../src/styles/componentes/_navigation-rail-theme.scss' as nav-rail-button;
@use '../src/styles/componentes/_terminal-icon-theme.scss' as terminal-icon;
@use '../src/styles/componentes/_login-theme.scss' as login;
@use '../src/styles/mixins/rwd.scss' as rwd;

@include mat.core();

$terminal-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
$terminal-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

html {
  @include mat.all-component-themes($terminal-dark-theme);
  @include terminal-icon.theme($terminal-dark-theme);
  @include nav-rail-button.theme($terminal-dark-theme);
  @include login.theme($terminal-dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($terminal-light-theme);
    @include terminal-icon.color($terminal-light-theme);
    @include nav-rail-button.color($terminal-dark-theme);
    @include login.color($terminal-light-theme);
  }
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; color-scheme: light dark }
body { margin: 0; font-family: Roboto, "Roboto Mono", sans-serif; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
