@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../src/styles/componentes/_navigation-rail-theme.scss' as nav-rail-button;
@use '../src/styles/componentes/_terminal-icon-theme.scss' as terminal-icon;
@use '../src/styles/componentes/_login-theme.scss' as login;

@include mat.core();

$terminal-dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-cyan-palette,
    tertiary: matx.$m3-orange-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
$terminal-light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

@media (prefers-color-scheme: light) {
  $current-theme: $terminal-light-theme;

  html {
    @include mat.all-component-themes($current-theme);
    @include mat.all-component-typographies($current-theme);
    @include nav-rail-button.theme($current-theme);
    @include terminal-icon.theme($current-theme);
    @include login.theme($current-theme);
  }
}

@media (prefers-color-scheme: dark) {
  $current-theme: $terminal-dark-theme;

  html {
    @include mat.all-component-themes($current-theme);
    @include mat.all-component-typographies($current-theme);
    @include nav-rail-button.theme($current-theme);
    @include terminal-icon.theme($current-theme);
    @include login.theme($current-theme);
  }
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; color-scheme: light dark }
body { margin: 0; font-family: Roboto, "Roboto Mono", sans-serif; }
