
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../src/styles/componentes/_navigation-rail-theme.scss' as nav-rail-button;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$terminal-primary: mat.define-palette(mat.$indigo-palette);
//$terminal-accent: mat.define-palette(matx.$m3-cyan-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$terminal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$terminal-dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-cyan-palette,
    tertiary: matx.$m3-orange-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
$terminal-light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette
  ),
  typography: (
    brand-family: 'Roboto Mono',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

$current-theme: $terminal-dark-theme;
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  @include mat.all-component-themes($current-theme);
  @include mat.all-component-typographies($current-theme);
  @include nav-rail-button.theme($current-theme);
}

@media (prefers-color-scheme: light) {
  $current-theme: $terminal-light-theme;

  html {
    @include mat.all-component-themes($current-theme);
    @include mat.all-component-typographies($current-theme);
    @include nav-rail-button.theme($current-theme);
  }
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; color-scheme: light dark }
body { margin: 0; font-family: Roboto, "Roboto Mono", sans-serif; }
