<ng-container *ngIf="measurementDetails$ | async; let details">
  <h2>Measurement {{ details.code }}</h2>
  <h3 *ngIf="projectDetails$ | async; let project">Project: {{ project.name }}</h3>
  <h3 *ngIf="details.tags.length">Tags: {{ details.tags }}</h3>
  <h3>Created at: {{ details.createdAtUtc | date:'medium' }}</h3>
  <h3>Comment:</h3>
  <p>{{ details.comment ?? 'no comment' }}</p>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button color="primary">
      <mat-icon>redo</mat-icon>
      Redo
    </button>
    <button mat-button color="primary" [routerLink]="['/measurements', measurementId]">
      <mat-icon>arrow_forward</mat-icon>
      Show steps
    </button>
  </mat-card-actions>
</ng-container>

<mat-card-footer>
  <mat-progress-bar [mode]="loading"></mat-progress-bar>
</mat-card-footer>
