<section *ngIf="adminPermissions">
  <ng-container *ngIf="userDetails$ | async; let details">
    <mat-card-header>
      <mat-card-title class="user-edit__header">Edit User</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="user-edit">
      <h2 class="user-edit__h2">Email: {{ details.email }}</h2>

      <mat-form-field class="user-edit__form-fields">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="userRoleFormControl">
          <mat-option *ngFor="let role of availableRoles;" [value]="role">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions class="user-edit__form-buttons">
        <section matTooltip="No changes apllied" [matTooltipDisabled]="dirtyForm()">
          <button mat-raised-button color="primary"
                  (click)="resetForm()"
                  [disabled]="!dirtyForm()">
            Reset
          </button>
        </section>
        <section matTooltip="No changes apllied or invalid values are set" [matTooltipDisabled]="readyToSubmit()">
          <button mat-raised-button color="primary"
                  (click)="editUser()"
                  [disabled]="!readyToSubmit()">
            Submit changes
          </button>
        </section>
      </mat-card-actions>
    </mat-card-content>
  </ng-container>
  <mat-card-footer>
    <mat-progress-bar [mode]="loading"></mat-progress-bar>
  </mat-card-footer>
</section>
<section *ngIf="!adminPermissions">
  <mat-card-content class="user_edit">
    <h2 class="user-edit__header">
      You don't have permission to edit user accounts. Contact administration for assistance.
    </h2>
  </mat-card-content>
</section>
