.user-edit {
  display: flex;
  flex-direction: column;

  &__header {
    grid-column: span 2;
    font-size: x-large;
  }

  &__h2 {
    grid-column: span 2;
    margin-top: 10px;
    font-size: large;
  }

  &__label {
    font-weight: 500;
    font-size: large;
  }

  &__form-fields {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__form-buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
    &__right-most {
      margin-left: auto;
    }
  }

}
