<section class="item-view">
  <section class="item-view__cards">
    <mat-card class="item-list">
      <mat-card-header>
        <div class="item-list__header mat-h1">
          <h2>{{selectedItem?.type}}s</h2>
        </div>
      </mat-card-header>
      <mat-card-content [ngSwitch]="selectedItem?.type">
        <app-sample-views *ngSwitchCase="'Measurement'" (selectedItemChangeEvent)="selectedItem = $event"></app-sample-views>
        <app-project-views *ngSwitchCase="'Project'" (selectedItemChangeEvent)="selectedItem = $event"></app-project-views>
      </mat-card-content>
    </mat-card>
    <app-item-details class="item-details" [item]="selectedItem"></app-item-details>
  </section>
</section>
