@import '../../../../styles/mixin';

.item-view {
  display: flex;
  flex-direction: column;

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
}

.item-list {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    h2 {
      margin: 0 0 0 5px;
      font-size: xx-large;
    }
  }

  &__row {
    &--is-clicked {
      color: red;
    }
  }
}

@include md() {
  .item-details {
    display: none;
  }

  .item-view {
    &__cards {
      grid-template-columns: auto;
    }
  }
}
