.recipe-edit {
  display: flex;
  flex-direction: column;

  &__header {
    grid-column: span 2;
    font-size: x-large;
  }

  &__label {
    font-weight: 500;
    font-size: large;
  }

  &__form-fields {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__form-buttons {
    width: 50%;
    gap: 1rem;
  }
}

.first-field {
  margin-top: 2rem;
}
