<ng-container *ngIf="recipeDetails$ | async; let details">
  <mat-card-header>
    <mat-card-title class="recipe-edit__header">Recipe {{ details.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="recipe-edit">
    <mat-form-field class="recipe-edit__form-fields first-field">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="recipeNameFormControl" name="recipeName">

      <mat-error *ngIf="!recipeNameFormControl.hasError('whitespace') && recipeNameFormControl.hasError('required')">
        Recipe name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="recipeNameFormControl.hasError('whitespace')">
        Recipe name <strong>must not</strong> contain any whitespaces!
      </mat-error>

    </mat-form-field>

    <mat-card-actions class="recipe-edit__form-buttons">
      <section matTooltip="No changes apllied" [matTooltipDisabled]="dirtyForm()">
        <button mat-raised-button color="primary"
                (click)="resetForm()"
                [disabled]="!dirtyForm()">
          Reset
        </button>
      </section>
      <section matTooltip="No changes apllied or invalid values are set" [matTooltipDisabled]="readyToSubmit()">
        <button mat-raised-button color="primary"
                (click)="editRecipe()"
                [disabled]="!readyToSubmit()">
          Submit changes
        </button>
      </section>
      <section>
        <button mat-raised-button color="warn"
                (click)="deleteRecipe()">
          Delete
        </button>
      </section>
    </mat-card-actions>
  </mat-card-content>
</ng-container>

<mat-card-footer>
  <mat-progress-bar [mode]="loading"></mat-progress-bar>
</mat-card-footer>
