.recipe-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;

  &__header {
    grid-column: span 2;
    font-size: x-large;
  }

  &__comment {
    margin-left: 2rem;
    margin-top: 1rem;
  }

  &__label {
    font-weight: 500;
    font-size: large;
  }
}

mat-card-content {
  padding: 1em;
}
