@use 'sass:map';
@use '@angular/material' as mat;


.search {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
}

.row:hover {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 700);
  cursor: pointer;
}

