<section class="dashboard">
  <article class="recent-measurements dashboard__element">
    <div class="recent-measurements__header mat-h1">
      <mat-icon [inline]="true" fontIcon="history"></mat-icon>
      <span>Recent measurements</span>
    </div>
    <div class="recent-measurements__list">
      <mat-table class="recent-measurements__list-content mat-elevation-z8" [dataSource]="recentMeasurement">
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
          <mat-cell *matCellDef="let measurement"> {{measurement.code}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="project">
          <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
          <mat-cell *matCellDef="let measurement"> {{measurement.project}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
          <mat-cell *matCellDef="let measurement"> {{measurement.created | timeAgo}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="recent-measurements__list-header"></mat-header-row>
        <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </article>
  <article class="recent-measurement-details dashboard__element">

  </article>
</section>
