.dashboard {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__element {
    border-radius: 10px;
    padding: 15px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
}

.recent-measurements {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }

  &__list {
    height: 100%;
  }

  &__list-header {
    font-weight: bolder;
    font-size: larger;
  }

  &__list-content {
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu {
  &__quick-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }

  &__search-bar {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
  }

  &__search-input {
    flex: 1;
  }
}
